
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --yellow: #e0da7b;
    --white:#ffffff;
    --lightgrey:#d9dcd6;
    --border-radius:5px;
    --text:"Roboto",sans-serif;
    --black:black;
    
}
body {
    background-color: var(--lightgrey);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:  var(--yellow);
    color: var(--white);
    
}


h1 { 
    display: inline-block;
    font-size: 50px;
}


nav{
    display:flex;
    justify-content: space-between;
}
nav ul {
    padding-top: 10px; 
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}



nav ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 25px;
    font-family: var(--text);
    
}

/*main section title style*/
h2{
    /* background-color: var(--yellow); */
    color:black;
    
    font-size:30px ;
    width:100px;
    text-align: right;
   
    
}

/*header navigate bar style*/
.text-right a {
    color: var(--white);
     text-decoration: none; 
}

/* set background picture in css instead of html*/
#backgroud{
    height: 800px;
    width: 100%;
    background-image: url("../images/images.jpg"); alt:"background";
    background-size: cover;
    background-position: center;
    position: relative;
}

/* set profie photo */
.profileImage {
    background-image: url('../images/IMG_1838.JPG');
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 15%;
    left: 50px;
}

/* set flex-box in row  */
.flex-box{
    display:flex;
    flex-direction: row;
    padding-left:5rem;
    padding-right: 5rem;
  
}


/* set right container */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:50px;
    border-left: solid;
    border-width: 0.5rem;
    border-color:var(--yellow);
 
    margin-top: 1rem;
    margin-bottom: 1rem; 
    width:1600px;
}
/*set flex box for about me section*/

.flex-about{
    text-align: left;
    align-content: stretch;
    display:flex;
}
.flex-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.flex-column{
    display:flex;
    flex-direction: column;
    
}
/* project image */
.container {
    position: relative;
    font-family: Arial;
    
    
  }
  .link-color{
      color:black;
      padding-left:7px;
  }
/* imgage text block */
.text-block {
    position: absolute;
   
    bottom: 20px;
    
    background-color: var(--yellow);
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-block-2{
    position: absolute;
   
    bottom: 20px;
    left:5px;
    background-color: var(--yellow);
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
  }

/*project image styling */
.projectImage1 {
    border:solid var(--yellow) 2px;
    border-radius: var(--border-radius);
    width:1100px;
    height: 300px;
    object-fit: fill;
    opacity: 0.7;
}
.projectImage{
    border-radius: var(--border-radius);
    border:solid var(--yellow) 2px;
    width:545px;
    height: 200px;
     object-fit: fill;
     opacity:0.7;
     
} 
.space-right{
    margin-right:5px;
}
.space-left{
    margin-left: 5px;
}
/* when mouse move to each project picture, the picture getting bigger */
.projectImage:hover, .projectImage1:hover{
   
    border:  8px solid var(--yellow);
    opacity: 1;;
}

/* .project-name a {
    color:var(--black);
    text-decoration: none; 
     font-size: 20px;
     font-family: var(--text);
     float:left;
} */

.contact-link{
    color: var(--black);
    list-style-type: none;
   
    font-size: 25px;
    font-family: var(--text);
}
.contact-link a{
    color:var(--black)
}
 .phone{
    color: var(--black);
    text-decoration: underline; 
    font-size: 25px;
    font-family: var(--text);
} 

.flex-row{
    display:flex;
    flex-direction: row;
}
.text-block p, .text-block-2 p{
    font-size: 10px;
}
/* responsive funtion, when the web page smaller than 768px, the layout will adapt to the viewpoint */
@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }
    .flex-row{
        flex-direction: column;
    }
    .project-name,
    .contact-link{
        display: flex;
        flex-direction: column;
    }
   #margin {
       margin-left: 0px;
   }
  }
