/*use for>*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --yellow: #e0da7b;
    --white:#ffffff;
    --lightgrey:#d9dcd6;
    --border-radius:50px;
    --text:"Roboto",sans-serif;
    --black:black;
}
body {
    background-color: var(--lightgrey);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:  var(--yellow);
    color: var(--white);
}


h1 { 
    display: inline-block;
    font-size: 32px;
}


nav{
    display:flex;
    justify-content: space-between;
}
nav ul {
    padding-top: 10px; 
    margin-right: 20px;
    /* float: right; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}



li {
    display: inline-block;
    margin-left: 25px;
}

.text-right a {
    color: var(--white);
    /* remove underline */
     text-decoration: none; 
}

p {
    font-size: 20px;
    font-family: var(--text);
    margin-left: 25px;
}


/* set background picture in css instead of html*/
#backgroud{
    height: 800px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-image: url("../images/images.jpg"); alt:"background";
    background-size: cover;
    background-position: center;
}



.flex-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
h2{
    background-color: var(--yellow);
    color:var(--white);
    /* font-weight:bold; */
    font-size:25px ;
    /* font-family: "Roboto",sans-serif; */
    
}

.flex-container{
    padding:50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.projectImage{
     width: 400px;
     height:400px;
} 

.project-name a {
    color:var(--black);
   
    /* remove underline */
    text-decoration: none; 
     font-size: 20px;
     font-family: var(--text);
     float:left;
}

.contact-link a {
    color: var(--black);
    /* remove underline */
     text-decoration: none; 
     font-size: 20px;
     font-family: var(--text);
}

.projectImage:hover{
    width:500px;
    height: 500px;
}

@media screen and (max-width: 768px) {
   
    nav 
    {
        
      flex-direction: column;
    }
    .project-name,
    .contact-link{
        display: flex;
        flex-direction: column;
    }
    
   #margin {
       margin-left: 0px;
   }
  }